{% extends 'base.html.twig' %}

{% block title %}Animaux{% endblock %}

{% block monTitre %}Voici la liste des animaux{% endblock %}
{% block body %}
    {% for animal in animaux %}
    <div class="row align-items-center m-2 p-2">
        <div class="col-2">
            <img src="{{ asset("images/" ~ animal.image)}}" alt="">
        </div>
        <div class="col-auto">
            <div>
                <h2><a href="{{ path("afficher_animal", {'id' : animal.id }) }}">{{ animal.nom }}</a></h2>
                <div>{{ animal.description }}</div>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}